@model List<BookSite.Models.Book>


@if (Model.Count == 0)
{
    <p>No Books In List</p>
}
else
{
    <div>
        <h1>Books To Read</h1>
        <ul>
            @foreach (Book book in Model)
            {
                @if (book.Status == 0)
                {
                    <li>


                        <a asp-controller="List" asp-action="Details" asp-route-id="@book.Id">@book.Title</a> --- By: @book.Author
                    </li>
                }
            }

        </ul>

    </div>

    <div>
        <h1>Books Read</h1>
        <ul>
            @foreach (Book book in Model)
            {
                @if (book.Status == 1)
                {
                    <li>


                        <a asp-controller="List" asp-action="Details" asp-route-id="@book.Id">@book.Title</a> --- By: @book.Author
                    </li>
                }
            }

        </ul>

    </div>
}